<!doctype html>
<head>
<title>Dashboard</title>
<script src="jquery.js"></script>
<script src="script.js"></script>
<script src="bootstrap.min.js"></script>
<link rel="stylesheet" href="bootstrap.min.css" />
<link rel="stylesheet" href="style.css" />
<script type="text/javascript">
	var routes = [];
	$(function () {
		// initialize tooltips
		$('[data-toggle="tooltip"]').tooltip();
		routes = JSON.parse('<%- routes %>');
		servers = eval('<%- servers %>');
	})
</script>
</head>
<body>
<% include navbar %>
<div class="container">
	<a class="btn btn-primary" onclick="newTile();"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> New tile</a>
	<a class="btn btn-info" onclick="doBackup();"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Save</a>
	<br/>
	<br/>
	<hr/>
	<div class="tiles">
	</div>
</div>
<% include popup.ejs %>
</body>
</html>
